/* external: bütün uygulamada geçerldir */

h2{
    color:orange;
}

#meta_id{
    color:blueviolet!important;
}

.meta_class{
    color:rgb(50, 117, 88);
}

#div_id{
    color:white;
    background: red;
    background: #000;
    background: #000abc;
    background: rgb(152, 32, 32);
    background: rgba(152, 32, 32,0.9);
    background: rgba(152, 32, 32,.8);

    /* padding: ic bosluk */
    /* padding: 12px; */
    /* padding: 12px 24px; */
    /* padding: 1px 12px 23px 4px; */
    padding-top:25px;
    padding-bottom:25px;

    /* margin:dış boşluk */
    margin:15px 25px;

    /* border:2px solid blue; */
    border:2px solid rgba(0,5,6,.8);

    /* border: profil resmi*/
    /* border-radius: 50%; */
    border-top-left-radius: 25px;

    /* font */
    font-size:.25px;
    font-size:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.text_class{
    text-align:justify;
    text-transform: capitalize;
    text-decoration: none;
    text-indent: 12px;
    word-spacing: 3px;
    letter-spacing:.2px;
    line-height: 1;
    margin:3px 12px 4px 12px;
    border:1px solid black;
    padding:8px;
    column-count: 2;
    column-rule:3px solid red;

    /* display:none; */
    /* display:block;          ==> div 
    display:inline;         ==> span
    display:inline-block;   ==> height-width */
    /* visibility:hidden;
    display:none; */
}

div a{
    color:Red;
    display:block;
}

img{
    width: 150px;
    height: 90px;
    float: left;
}

.clear:before{
    content:"";
    clear:both;
    display:block;
}